@media (max-width: 600px) {
    .carousel-item-img1{
        background-image: url('../img/cats_01_small.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
      }
      .carousel-item-img2{
        background-image: url('../img/dogs_01_small.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
      }
      .carousel-item-img3{
        background-image: url('../img/cats_02_small.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .carousel-item-img4{
        background-image: url('../img/dogs_02_small.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      footer{
        flex-direction: column;
        justify-content: center;
      }
      footer p{
        text-align: center
      }

    
}