.circle-effect{
    filter: opacity(.5);
}
.circle-effect:hover{
    filter: opacity(1);
    transition: 0.5s;
    cursor:pointer;
}

.contenedor-effect{
    transform: scale(1.5);
    transition: transform 0.8s;
}
.contenedor-effect:hover {
    -webkit-transform:scale(2.3);
    transform:scale(2.3);
    cursor:pointer;
}
.contenedor{
    overflow:hidden;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
footer p a{
    text-decoration:none;
    color:orange;
}
footer p a:hover{
    color: black;
}
